[2014-11-14 19:05] bushmanb opened #7 "Schema incomplete"
The current schema for MeSH RDF is incomplete.  We are continuing to improve the schema and ensure its compatibility with OWL.  This will mean periodic updates to the schema and/or technical documentation.

[2014-11-14 19:11] bushmanb opened #8 "SPARQL endpoint and browser compatibility"
We have tested the SPARQL endpoint with a variety of browsers and noticed that it does not perform optimally when using Internet Explorer.

[2014-11-14 19:14] bushmanb opened #9 "URIs for Tree numbers in SPARQL resolve to JSON"
When clicking on a link for a tree number in the results of a SPARQL query the system defaults to JSON rather than HTML.

[2014-11-23 14:40] osma opened #12 "Mappings to SKOS?"
I realize that the 3-level structure of MeSH is difficult to represent using SKOS (I have read the AMIA paper about desiredata for MeSH RDF). But I think it would still be useful to provide mappings from the meshv classes and properties to SKOS, to enable some degree of compatibility between the MeSH RDF version and SKOS-aware tools.

In particular, I think these subproperty axioms for labels shou

[2014-11-27 00:10] micheldumontier opened #13 "Query results not redirected to linked data display"
If I execute one of the queries listed on [1] e.g. [2], and select one of the query results e.g. meshv:Concept [3], i get the ontology, rather than get redirected to a linked data view.

[1] http://hhs.github.io/meshrdf/sample-queries.html
[2] http://id.nlm.nih.gov/mesh/sparql?query=PREFIX+meshv%3A+%3Chttp%3A%2F%2Fid.nlm.nih.gov%2Fmesh%2Fvocab%23%3E%0APREFIX+mesh%3A+%3Chttp%3A%2F%2Fid.nlm.nih.gov%

[2014-11-27 00:12] micheldumontier opened #14 "Treeview numbers unresolved"
Using sample query 7 [1], we get results [2] that includes A01.456.505.420.338 which is linked to [3]. However, [3] does not resolve (error msg: the requested resource is not available.)

[1] http://hhs.github.io/meshrdf/sample-queries.html
[2] http://id.nlm.nih.gov/mesh/sparql?query=PREFIX+mesh%3A+%3Chttp%3A%2F%2Fid.nlm.nih.gov%2Fmesh%2F%3E%0APREFIX+meshv%3A+%3Chttp%3A%2F%2Fid.nlm.nih.gov%2Fmesh%

[2014-11-27 00:18] micheldumontier opened #15 "Need tree view for concept hierarchies"
The current interface does not show tree views for concept hierarchies.

you should consider something like: http://bioportal.bioontology.org/ontologies/RH-MESH?p=classes&conceptid=root

[2014-12-02 16:34] bushmanb opened #16 "Diagram error"
From Stanford (NCBO): The diagram at: http://hhs.github.io/meshrdf/concepts.html shows a “skos:narrower” link. Nowhere else does skos occur in this diagram or in the documentation. My guess would be that this link is left-over from a previous draft of the diagram.

[2014-12-02 16:35] bushmanb opened #17 "Concept vs. Descriptor"
From Stanford (NCBO): We are confused about what the basic “node” of the system should be. It appears to be “concept” in some places and “descriptor” in others. Are there really meant to be two interlinked kinds of hierarchies? For example, in BioPortal we show relations among a single “type of thing”. Often this is “class”. For skos it is skos:concept. It is unclear to us which is the “main thing

[2014-12-03 17:16] #16 closed, assigned to stevenemrick

[2014-12-12 15:48] bushmanb opened #18 "Add Nodes for the Top of the MeSH Trees?"
Here is an NLM use case that we would like some feedback on:

I am using MeSH tree to retrieve all of the descriptors related to diseases (C tree http://www.nlm.nih.gov/mesh/trees.html), and I found it is hard to do it now. Because we do not have the parent node for disease tree (C), such as 'mesh:C', although we have the child node, like C01, C02, C03, C04, etc, it is really hard to group those c

[2014-12-16 13:19] #18 closed, assigned to nobody

[2015-01-20 18:28] nvariant commented on #15
That interface is build-able by a user using the RDF data provided, using tree numbers to navigate. The emphasis for the MeSH in RDF project is to make the data available using RDF, which is different from making an interface

We will take your comment under consideration as we we update and modify our MeSH browser interface.

Thank you for bringing this up.

John Kilbourne MD
Head, Medical Subjec

[2015-01-20 18:28] #15 closed

[2015-02-04 19:45] bushmanb opened #19 "Change meshv predicates to be more specific"
We are proposing to make the adjustments to the following meshv predicate terms to clarify the relationships expressed in the MeSH RDF.  Unless stated all of the predicates will be non-transitive.  We would appreciate any feedback on these changes.

meshv:broader will become meshv:broaderConcept
meshv:narrower will become meshv:narrowerConcept
meshv:related will become meshv:relatedConcept
These c

[2015-02-05 00:08] micheldumontier commented on #19
Hi!
  i suggest that you map these to SKOS terminology, and there are also mappings for SIO:

http://semanticscience.org/resource/is-identical-to
http://semanticscience.org/resource/is-broader-than
http://semanticscience.org/resource/is-narrower-than
http://semanticscience.org/resource/is-similar-to
http://semanticscience.org/resource/is-related-to

[2015-02-27 18:28] davidanderson3 commented on #14
We believe this is fixed now.

[2015-02-27 18:28] #14 closed

[2015-02-27 18:29] davidanderson3 commented on #9
We believe this is fixed.

[2015-02-27 18:29] #9 closed

[2015-03-06 17:46] danizen opened #20 "Is there any sample java code for how to use meshrdf SPARQL as a client?"
Is there any sample Java library code to use with MeshRDF?

[2015-03-06 17:48] danizen commented on #20
I will use the results from http://hhs.github.io/meshrdf/sample-queries.html

[2015-03-06 20:17] Klortho commented on #20
No. It's a pretty wide-open question, it seems to me, because there are a lot of things you might be interested in doing.  [Apache Jena](https://jena.apache.org/) is a Java-based library that is very popular for manipulating linked data.  You might try starting there -- it's pretty well documented with lots of examples.

[2015-03-07 15:46] #20 closed

[2015-04-02 10:13] osma opened #22 "URIs for semantic types return 404 error"
I noticed that the URIs of semantic types give a 404 response from the server, e.g. http://id.nlm.nih.gov/mesh/T037

This is probably not the intent, but they should be serving Linked Data (or HTML for browsers).

[2015-04-02 18:33] bushmanb commented on #22
Thank you for reporting this issue.  We have discovered the cause of this problem and it will be fixed in the next beta release which is scheduled for May 2015.

[2015-05-13 21:24] jimfhahn opened #27 "Endpoint access..."
Looking for any known limit on access to the endpoint? I have a research project to use this api

url = 'http://id.nlm.nih.gov/mesh/servlet/query?query=' + urllib.parse.quote_plus(query) + '&format=XML&limit=10&offset=0&inference=true'

And would like to know if I could parse about 300k headings from via the url above?

[2015-05-14 16:26] bushmanb commented on #27
Thank you for your interest in MeSH RDF.  We are investigating an answer to your question and will provide you with a response shortly.  We would be interested to know more about your research project. Any information you can provide would be helpful to us in further understanding the use cases for MeSH RDF.  Just so you are aware, we will be releasing a revised beta version of MeSH RDF in mid-Jun

[2015-05-14 17:44] jimfhahn commented on #27
There is a set of 300,000 e-books in our Library which, as a research project, we are attaching open linked data to, we are using the Bibframe RDF model as our template for the record RDF files, but utilize Schema.org micro data for display in the HTML.

Many of the e-books which we have do include MeSH subject headings, and I had hoped to ensure we could gather open linked data for the descriptio

[2015-05-20 15:38] butlerj commented on #27
There is a limit you are likely to encounter with the process you have described and a modification that can be made to avoid the limit.

In order to avoid overloading the SPARQL endpoint service for the beta release, NLM requires that users of the service send no more than 500 requests per minute per IP address. Requests that exceed this limit will not be serviced, and service to that IP address

[2015-05-26 16:59] Klortho commented on #19
The changes Barbara described above are documented in the page of [release notes for the upcoming release](http://hhs.github.io/meshrdf/release-notes.html).

@micheldumontier, how would you suggest that the mappings be done? I'd guess that owl:sameAs would not be a good idea.

[2015-05-26 17:04] Klortho commented on #19
@micheldumontier, if you respond, please do so over on [issue #12](https://github.com/HHS/meshrdf/issues/12), "Mappings to SKOS?".

I'm going to close this ticket.

[2015-05-26 17:04] #19 closed

[2015-05-26 17:07] Klortho commented on #8
This is documented on the [mesh rdf home page](http://id.nlm.nih.gov/mesh/), and we are looking into seeing if it can't be fixed for our next beta release, so I'm going to close this one.

[2015-05-26 17:07] #8 closed

[2015-05-26 17:11] micheldumontier commented on #12
This conversation is still abstract. Can you illustrate with a concrete example as to why SKOS predicates is insufficient and requires this specialization?

[2015-05-26 20:45] bushmanb commented on #22
As an update, all semantic types will be removed from MeSH RDF with the next beta release now scheduled for June 2015.

[2015-05-26 20:45] #22 closed

[2015-05-27 17:38] Klortho opened #34 "Redo how the uri-year-segment gets passed to the XSLTs"
Right now, the mesh-xml2rdf.sh script generates a dtd external subset with some XML entities defined.  Instead, I'm going to change it so that the year segment gets passed in as a string parameter.

[2015-05-27 18:13] danizen commented on #34
How about using Getopt::Long to make it an optional parameter and to default to 2015?

[2015-05-27 18:53] Klortho commented on #34
It's a shell script.  I didn't want to rewrite the whole thing in perl.  I just added a param to the xslts (I'd have had to do that anyway)

[2015-05-27 19:13] danizen commented on #34
Ah - I see.   I didn't know how to do that and just use the sed of the prefixes file.   A parameter is better.
bash has getopts built-in.

[2015-05-27 20:17] Klortho commented on #34
This fix is part of https://github.com/HHS/meshrdf/pull/32

[2015-05-27 20:17] #34 closed

[2015-05-30 22:55] Klortho commented on #13
This will be fixed in our next beta release, which is scheduled for 6/15.  Thanks for reporting it!

[2015-06-23 20:59] bushmanb commented on #27
I was checking the sample links you sent and noticed what appears to be an error in the record you referenced  (http://sif.library.illinois.edu/bibframe/html/7277072.html). In this record, you have links to LCSH and MeSH, however the link for Photons--diagnostic use refers back to the bibliographic description rather than resolve to a subject authority.  If you are intending to use MeSH to represe

[2015-06-24 20:47] jimfhahn commented on #27
Thanks for the heads up on the HTML link!

[2015-07-15 13:08] stain commented on #12
+1 to add explicit SKOS mapping to the vocabulary. I'm OK with keeping the specialized properties.

Pretty much anything can be a `skos:Concept` as it does not come with any scary implications, but mapping to `skos:broader` and `skos:narrower` should take the implied SKOS transitivity in consideration. Note that the transitivity on SKOS relations would not imply transitivity on the mesh properties

[2015-07-29 12:48] VladimirAlexiev commented on #12
Have you guys considered https://code.google.com/p/hive-mrc/wiki/MeshToSKOS ?

[2015-08-26 18:18] jrjohnson opened #56 "Usable as a webservice?"
We've been using MeSH terms for a long time with the [Ilios Project](https://github.com/ilios/ilios).  Our existing implementation loads the full XML spec into a database so we can search for terms against our internal REST API [Ilios mesh parser](https://github.com/ilios/mesh-parser).

This is a pretty tricky process and consumes a lot of resources on our end.  In particular we have trouble histo

[2015-08-28 13:21] bushmanb commented on #56
Thank you very much for your interest in MeSH RDF.  We plan to support the beta version of MeSH RDF as we continue to evaluate usage and need, and as resources allow.  Your use of the service as an API is the general idea - the SPARQL endpoint, http://id.nlm.nih.gov/mesh/sparql, supports CORS.   Refer to our [SPARQL and URI requests]( http://hhs.github.io/meshrdf/sparql-and-uri-requests.html) for

[2015-10-15 09:01] developer4711 opened #59 "Download links are down"
Hi all!

Could you please fix the download links?

Also the ftp service is not available, only for me??

Thanks in advance

[2015-10-15 11:52] butlerj commented on #59
It works when I try it.  Please try again.
Thanks,
John

[2015-10-15 14:32] danizen commented on #59
Can you be more specific about which download links are failing for you?

Thanks,
Dan Davis

[2015-11-27 23:55] bjonnh opened #65 "Accessing subclassof ?"
Hi,

I tried the "string search on 'infection". It works with your query editor. However, when I use rdflib (python), this query isn't working. I have to change the meshv:Descriptor to meshv:TopicalDescriptor to make it work.

Do you have any idea about why and how I could get that working on meshv:Descriptor ?

I also tried:

?d rdfs:subClassOf+ meshv:Descriptor .

in order to get any subclassof

[2015-11-28 00:08] bjonnh commented on #65
Ok, for later reference to anyone:
I had to set inference=true in the parameters.

[2015-11-30 15:03] danizen commented on #65
It is good to know  that this is working with rdflib.   You are using rdflib, rather than rdfalchemy, correct?   We would love to see sample code, perhaps we can add a sample code page for Python, Java, and Ruby at some later date.

[2015-11-30 16:43] danizen commented on #56
@jrjohnson, did the answer of @bushmanb satisfy your need for information?   I want to add that we treat this differently as a Pilot/Beta internally.   We have Nagios monitors on the service, but instead of the night-time support staff getting a beeper call, I get email and get it back up in the morning.   We haven't had a hiccup I'm aware of however, and are committed to keeping the service up.

[2015-11-30 16:44] danizen commented on #59
@developer4711, I would like to close this issue.   Can you clarify whether these links are now working for you?

[2015-11-30 16:50] danizen commented on #17
Closing this issue as it refers mostly to an internal discussion.

[2015-11-30 16:50] #17 closed

[2015-11-30 16:51] bjonnh commented on #65
Yes I use rdflib, here is a sample code using SPARQLWrapper.

[code]

[2015-11-30 16:53] danizen commented on #65
Thanks @bjonnh, I'll create an internal issue for sample API code in the documentation site.

[2015-11-30 16:53] #65 closed

[2015-11-30 17:00] danizen commented on #13
@micheldumontier, I took over implementation, but not the issue list.   We have implemented this, and I've verified that this is working.

[2015-11-30 17:00] #13 closed

[2015-11-30 17:35] jrjohnson commented on #56
Yes.  100%.  We're going to move this way with Ilios early next year.

[2015-11-30 17:35] #56 closed

[2015-12-02 14:27] #27 closed

[2015-12-02 14:29] #7 closed

[2015-12-17 17:02] fallgrennj opened #71 "Need MeSH label look up service"
Cataloging data will eventually be rendered as linked data.  A growing number of libraries are trying to prepare in advance for that change by inserting existing URIs for relationships and objects into their cataloging data now.

I am learning that the cataloging community could use a label-based search feature for MeSH RDF.  Our current cataloging tools do not have SPARQL querying capability and

[2016-01-02 10:44] digiman999 opened #72 "OWL Ontology File For The Semantic Web?"
Hi,

   I'm building a website that gathers research onto pages, with a page per MeSH descriptor.  I may be wrong, but to make it globally semantic i.e have the contents appear on semantic web search engines, isn't an online MeSH OWL ontology needed.  At present there's a HTML page per descriptor and SPARQL endpoint, but how are developers meant to link to that in the RDF data ie via sameAs or res

[2016-01-05 14:54] danizen commented on #72
The terminology itself is available at https://id.nlm.nih.gov/mesh/vocabulary.ttl.    URIs such as http://id.nlm.nih.gov/mesh/vocab#allowableQualifier redirect to this vocabulary.   Is there a particular reason you need the vocabulary as OWL rather than TTL?

[2016-01-10 19:58] Pashj commented on #71
We were testing an RDF-MeSH based browser for a while, however I'm not sure whether OCCS is still working on it. Would that work for what you want?.

[2016-01-11 14:51] danizen commented on #71
@fallgrennj  I think this issue should have gone to mesh-rdf.    @pashj, OCCS/AB is minding the Pilot light.   I asked Nancy to create this issue, and I've also provided her with some boilerplate SPARQL for another request.

[2016-01-11 14:54] danizen commented on #71
@pashj, I think the new MeSH On Demand browser was designed to provide a replacement for the current browser, and does not contain APIs, although a simple search feature for Descriptors and D+Q pairs may be present.   OCCS/MLB is not currently working on that to the best of my knowledge because Sukhbir left.

[2016-01-13 22:06] fallgrennj commented on #71
It depends on the functionality.
-Nancy

From: James Pash [mailto:notifications@github.com]
Sent: Sunday, January 10, 2016 2:59 PM
To: HHS/meshrdf <meshrdf@noreply.github.com>
Cc: Fallgren, Nancy (NIH/NLM) [E] <fallgrennj@mail.nlm.nih.gov>
Subject: Re: [meshrdf] Need MeSH label look up service (#71)

We were testing an RDF-MeSH based browser for a while, however I'm not sure whether OCCS is still

[2016-01-13 22:19] nvariant commented on #71
MLB has made it very clear that they are unable to do any work that falls
outside the current workflow.

That prohibition or resource limitation would include enhancements and
improvements to existing products and functionality, as well as things they
consider "new".

In my understanding, they would consider MeSH on Demand and any associated
browser to be "new", and outside the scope of work they

[2016-03-07 14:51] rafael5 opened #74 "MeSH in JSON-LD / schema.org compatible form"
Is there any technical reason MeSH could not be published in the JSON-LD form of RDF?  Can the MeSH model fit in JSON-LD without loss of functionality?

JSON-LD  is the form of RDF  the www  search engines use to crawl, index, structure, and  semantically search all the structured data on the web;  it is also a most approachable form of RDF for web programmers already familiar with JSON.

Links
-

[2016-03-07 15:01] rafael5 commented on #72
Getting into OWL would enable complex automated inferencing between terms, and post-coordinated composition of terms.  However, this wold be *way*  over the heads of 99% of web programmers today.  All they want is to link and query information based on simpler taxonomies.

What are the largest knowledge organizations  using for their metadata / model language? [Google, Yahoo, Microsoft, Yandex (Ru

[2016-03-07 15:46] darobin commented on #74
For what it's worth we would find a JSON-LD version quite useful as well.

[2016-03-07 19:50] davidanderson3 commented on #74
Thanks for your questions. You can request JSON-LD for [any given URI](https://id.nlm.nih.gov/mesh/D015242.json-ld). You can also build a [CONSTRUCT query in our SPARQL endpoint](https://id.nlm.nih.gov/mesh/sparql?query=PREFIX%20mesh%3A%20%3Chttp%3A%2F%2Fid.nlm.nih.gov%2Fmesh%2F%3E%0D%0ACONSTRUCT%20%7B%20mesh%3AD015242%20%3Fp%20%3Fo%20.%20%7D%0D%0AFROM%20%3Chttp%3A%2F%2Fid.nlm.nih.gov%2Fmesh%3E%0D

[2016-03-07 21:04] rafael5 commented on #74
The use case is for a MeSH-aware EHR that could generate precise, semantic queries to PubMed for certain types of information (problems, diagnoses, conditions, treatments, studies, outcomes), providing a PubMed-driven infobutton with targted medical literature on these fields / topics.

To know if this is a valid use case, perhaps a little knowledge about how Pubmed's search engine works would go

[2016-03-07 21:07] rafael5 commented on #74
Beyond schema.org using JSON-LD,   the VA is also moving to JSON-LD as its enterprse metadata and model standard.

https://github.com/vistadataproject/documents#technical-overview

So linkage to MeSH to the the VA's  1200 hospitals and clinics through VISTA is another use case...

[2016-03-07 22:09] darobin commented on #74
From our end it is not so much the actual results in JSON-LD as having a JSON-LD context to import. We are [using MeSH](https://research.science.ai/article/memory-efficient-mesh-tagging) in an environment that is [very Web/JSON oriented](https://research.science.ai/article/web-first-data-citations). Having the context directly in JSON-LD is simpler in that it saves us from having to convert to tha

[2016-03-24 15:03] bartgras opened #75 "Incomplete data?"
I've just manually downloaded the data (file mesh.nt) from `ftp.nlm.nih.gov` and loaded to my Virtuoso database.
When I do following query:

[code]

Result is "14715934".

The same query on https://id.nlm.nih.gov/mesh/query , result is "39340424"

I noticed the difference while comparing other queries results, my local database was not returning some Concepts, while https://id.nlm.nih.gov/mesh/que

[2016-03-24 15:21] bjonnh commented on #75
Looking at that, I would say that you need a Reasoner.

[2016-03-24 16:46] flamingofugang commented on #75
Once you loaded data into Virtuoso, you need to check the log file to make sure there was no error during loading. I would suggest to try other RDF stores, like Jena TDB, Blazegraph, or trial version Stardog, so you can compare how many triples the file really has.

[2016-03-24 16:47] flamingofugang commented on #75
Do single-thread loading rather than parallel, since the later may cause deadlock, and the loading will not be complete.

[2016-03-24 18:01] davidanderson3 commented on #75
There are multiple graphs available at this endpoint. Use the current graph (see the query below). This should be aligned with mesh.nt, and reflects the current state of MeSH.

[code]

[Some documentation](https://hhs.github.io/meshrdf/versioning-policy.html).

The other graphs available at this endpoint correspond to particular years. You can safely ignore them, unless you're interested in tracki

[2017-04-20 02:08] BigBlueHat opened #91 "Wrong media type used for JSON(-LD)"
The docs (and the responses themselves) use `application/rdf+json` for returning `@graph`-based JSON-LD documents. However, the correct media type is `applicatoin/ld+json` for that format.

For example:

returns this content type:

As does the `.json` variant.

The `application/rdf+json` media type is used for a very different (and deprecated) JSON-based RDF format (known as "RDF 1.1 JSON Alternat

[2017-04-20 15:16] danizen commented on #91
I'll take a look.   If this is a problem, I've contributed back the badness to lodestar upstream at EBI as well.

[2017-04-20 15:32] BigBlueHat commented on #91
Let me know if you need any testing help. I'm mostly working with https://github.com/digitalbazaar/jsonld.js and https://github.com/RubenVerborgh/N3.js for dealing with stuff in the browser and node (fwiw).

Appreciate the help/time!

[2017-04-20 16:35] danizen commented on #91
@BigBlueHat, I've issued a pull request to EBISPOT/lodestar.   I'll include the fix in our downstream builds if it is accepted.

[2017-05-24 16:38] danizen commented on #91
@BigBlueHat, this has been merged upstream, and we will install it during our next release.  This is tentatively scheduled for the end of June.

[2017-05-24 16:40] danizen commented on #75
Yes, that's the cause, but I would suggest you adjust your query as suggested by David above, instead.   The current year or 2017 may be what you want.

[2017-05-24 16:40] #75 closed

[2017-05-24 16:43] danizen commented on #74
@rafael5, we are still in a Beta mode because of some stability issues we've had with Virtuoso.   However, you are right that there is really no "search engine" providing full-text search.   Once we work out the stability issues we've had with Virtuoso (expected soon, at last), then we will be able to decide what priority to place on future development.    You may also want to look at https://mesh

[2017-05-24 16:52] danizen commented on #72
Making the OWL file available as well is a small thing, and I will try to do that in the next release.

[2017-05-24 16:53] #59 closed

[2017-05-24 17:03] danizen commented on #74
@rafael5, there seem to be 2 or 3 questions here.   Can you clarify what you are looking for?

* JSON-LD for results - this can be accomplished in quite a variety of ways, the easiest is to send a request header `Accept: application/rdf+json` to resolve URIs like https://id.nlm.nih.gov/mesh/D017563.   The MIME-type will soon change to `application/ld+json` for another issue.

* Possibly, a request

[2017-05-24 17:04] danizen commented on #91
Note - this will also affect auto conversion.    That is, now if you send `Accept: application/rdf+json`, you will get JSON-LD.   Once the change occurs, that will be `Accept: application/ld+json`.   I will look into accepting both.

[2017-05-24 17:15] danizen commented on #74
@rafael5 - I am corrected that https://schema.org does not require changes to the Data Model, and will be preferred over RDFa.   However, we still need to figure out which of these is/are the solution for your issue.

[2017-10-05 15:16] danizen commented on #91
@BigBlueHat , please test - this should be done in production now.   It was accepted upstream awhile ago, but I'm not in control of when it shows up at EBISPOT.

[2017-12-31 11:27] akuckartz commented on #12
Any news regarding MeSH expressed using SKOS ?

[2017-12-31 11:33] akuckartz commented on #72
See also https://github.com/HHS/meshrdf/issues/12 regarding SKOS.

[2018-01-02 15:37] danizen commented on #12
@akuckartz, we've considered adding relationships such `owl:sameAs` to equate `meshv:prefLabel` to `skos:prefLabel`, and things such as this.   The limitation with this approach is that many backends support RDFS reasoning, but not OWL reasoning levels.   This includes our own backend, and so skos could not effectively be used for search within our SPARQL backend or query editor.

So, I put the qu

[2019-01-08 20:45] elucify opened #116 "Security alert from GitHub"
We (NCBI) received a security alert for this repository:

![Alert](https://snag.gy/9hud2A.jpg)

You can set up to be notified of security problems for repos in this organization:
https://help.github.com/articles/managing-alerts-for-vulnerable-dependencies-in-your-organization-s-repositories/

[2019-01-22 17:23] danizen commented on #116
I am closing this as Jackson databind has been updated, twice.

[2019-01-22 17:23] #116 closed

[2019-01-22 17:24] danizen commented on #91
@BigBlueHat , I need to close this - we are moving away from Github Issues, and will be redirecting to our support site for support.

[2019-01-22 17:24] #91 closed

[2019-01-22 17:25] danizen commented on #74
@rafael5 , we've captured this in an internal bug tracker, but we are closing Github issues and re-directing users to NLM customer support now that this is a production service.

[2019-01-22 17:25] #74 closed

[2019-01-22 17:30] danizen commented on #72
@akuckartz and @digman999, the ontology is in OWL v1. I'm more expert now, and I understand that our decision not to use SKOS may be a problem for users.  The issue there was that skos:broader and skos:narrower are transitive.   For us that is an issue, because the transitivity is not right for MeSH and would produce strange conclusions, such as that Glaucoma is part of a Face.

However, we do now

[2019-01-22 17:31] danizen commented on #71
Should be internal.

[2019-01-22 17:31] #71 closed

[2019-01-22 17:32] danizen commented on #12
@osma, @akuckartz et. al, we will take this up in our internal working group, but we are moving away from Github issues.   I'm closing this now, but rest assured we have an internal report to track it.

[2019-01-22 17:40] rafael5 commented on #72
Dan,

Could you provide a link to your (new) support site so we may continue our
(public) dialogue on HHS information resources?

Thank you for all your good work.

Rafael

*Rafael Richards MD MS*

On Tue, Jan 22, 2019 at 12:30 PM Dan Davis <notifications@github.com> wrote:

[2019-01-22 17:40] rafael5 commented on #74
RafDan,

Could you provide a link to your (new) support site so we may continue our
(public) dialogue on HHS information resources?

Thank you for all your good work.

Rafael

*Rafael Richards MD MS*

On Tue, Jan 22, 2019 at 12:25 PM Dan Davis <notifications@github.com> wrote:

[2019-01-22 17:44] danizen commented on #72
@rafael5, that is coming shortly.   It will be in the README, the website, and in the technical documentation site.  Although our model is very different from [http://purl.bioontology.org/ontology/MESH/](http://purl.bioontology.org/ontology/MESH/), we are also working to get our ontology loaded into BioPortal.

[2019-01-22 18:05] akuckartz commented on #12
So this project is becoming less transparent. Sad.

[2019-01-22 19:16] BigBlueHat commented on #91
Sad things are moving away from GitHub. 😢 What will happen to the open source code? Is it also getting a new home (hopefully *not* behind closed doors)?

Thanks for letting me know regardless!

[2019-01-22 22:09] danizen commented on #12
@akuckartz, hopefully we are perhaps also more active ;)

[2019-01-22 22:10] danizen commented on #91
@BigBlueHat, no we are preserving the use of github, we are just moving the issues.  We are preserving the open source code.

[2019-01-23 14:33] BigBlueHat commented on #91
Phew! Thanks @danizen 😄

[2019-02-25 03:07] VladimirAlexiev commented on #72
@danizen skos:broader is not transitive, there is a separate prop skos:broaderTransitive.
Nonetheless, translating MESH to SKOS is non-trivial, there are good reasons that MESH distinguishes between Descriptors and Concepts

[2019-02-25 09:13] VladimirAlexiev opened #119 "improve URL rendering on MESH pages"
A MESH page eg https://id.nlm.nih.gov/mesh/D008071.html uses ugly URLs, eg
- https://id.nlm.nih.gov/mesh/describe?uri=http%3A%2F%2Fid.nlm.nih.gov%2Fmesh%2FQ000138
- https://id.nlm.nih.gov/mesh/describe?uri=http%3A%2F%2Fid.nlm.nih.gov%2Fmesh%2FT042501

Given that all these URLs resolve, please present them in their canonic form:
- https://id.nlm.nih.gov/mesh/Q000138
- https://id.nlm.nih.gov/mesh/T0

[2019-02-25 09:34] VladimirAlexiev opened #120 "MESH pages show meshv:Descriptor instead of the most specific type"
Find some `meshv:GeographicalDescriptors` using this query
[code]
Examine one of them eg https://id.nlm.nih.gov/mesh/D008922. It shows the type is `Descriptor` rather than the more specific `GeographicalDescriptor`.
Clicking on "More types..." doesn't show any more types.

If you download https://id.nlm.nih.gov/mesh/D008922.n3 or https://id.nlm.nih.gov/mesh/D008922.json-ld, you see the more specif

[2019-02-25 16:45] danizen commented on #119
@VladimirAlexiev, in principal, a "lodestar" should be able to host IRIs that may not be permanently resolvable or which may not be hosted on that particular server.   Using canonical forms can lead to odd results occasionally, for instance, try this query:

[code]

On the other hand, I caused this issue so that development on http://localhost:8080/ would refer to the development system rather tha

[2019-02-25 16:49] danizen commented on #72
@VladimirAlexiev, another take away from your issue 119 is that github issues should remain open, and I have argued so to our Workgroup.  NLM has many other github repositories, i.e. https://github.com/ncbi/sra-tools, and a lot of work happens there.

I have argued instead that we should make sure that we can cause our enterprise CRM tools to integrate with github, and for instance with github not

[2019-02-25 16:50] danizen commented on #120
This does not affect TopicalDescriptors. Have previous versions of Lodestar at EBI had this same issue?

[2019-02-26 08:20] VladimirAlexiev commented on #119
Perhaps you can patch `lodestar` to do this better thing for MESH URLs?

[2019-02-26 08:28] VladimirAlexiev opened #121 "provide a VOID file"
Provide a semantic description of the dataset in the form of a VOID file.
See eg http://vocab.getty.edu/doc/#Descriptive_Information, which uses the VOID, DCAT and ADMS ontologies to provide comprehensive description.
It would be nice if you use the VOID ontology (which is mandatory for RDF datasets) and DCAT ontology (which is popular for dataset portals); ADMS is less popular.

The recommended l

[2019-02-26 08:37] VladimirAlexiev commented on #121
- Also load the MESH triples to the triplestore, so they can be queried
- The VOID can also be used to register MESH RDF on the datahub.
  - https://datahub.io/search?q=mesh finds nothing
  - https://old.datahub.io/dataset?q=mesh finds 21 datasets, amongst them https://old.datahub.io/dataset/bio2rdf-mesh that claims to have VOID but http://download.bio2rdf.org/current/mesh/bio2rdf-mesh.nq doesn't

[2019-02-26 08:45] VladimirAlexiev commented on #72
@danizen I don't know NLM's full audience, but for developers and sem.data experts, I am sure that NLM will get much better collaboration and richer feedback if you stick with Github.

[2019-02-26 08:54] VladimirAlexiev commented on #12
http://thesauri.cs.vu.nl/eswc06/ has MeSH as SKOS. The date is 9 feb 2007

[2019-02-26 08:55] VladimirAlexiev commented on #12
@stain `skos:broader` and `skos:narrower` are not transitive

[2019-02-26 10:08] VladimirAlexiev commented on #74
@rafael5 schema.org has nothing to do with jsonld.
- schema.org metadata can be delivered in any RDF serialization. They used to recommend microformats, but now recommend jsonld and turtle embedded in `<head><script>`
- jsonld can be used for any RDF data.

@danizen https://id.nlm.nih.gov/mesh/D017563.json-ld looks good. Most importantly, it's content identical to the other RDF formats:
[code]
It

[2019-02-26 13:39] bushmanb commented on #121
We have a VOID file for MeSH RDF.  It is located at ftp://ftp.nlm.nih.gov/online/mesh/rdf/void_1.0.0.ttl.  Please let us know if you have any further questions..

[2019-02-26 16:40] danizen commented on #120
@VladimirAlexiev , I see the issue now.  The landing page will query https://id.nlm.nih.gov/mesh/servlet/explore/resourceTypes?uri=http://id.nlm.nih.gov/mesh/D008922 to get the type data, and then constructs without an awareness of specific type, and so the order is the issue.

It isn't properly semantic, but the simplest thing that could work is to prefer the longest match that begins with "http:

[2019-02-26 19:50] danizen commented on #121
@VladimirAlexiev , can you expand on what you mean?  In addition to what Barbara says above, https://id.nlm.nih.gov/mesh/void.ttl is also available, and a query through the sparql endpoint will also produce those triples:

[code]

[2019-02-26 19:51] danizen commented on #121
@bushmanb , the issue is that https://id.nlm.nih.gov/mesh/void is a result but does not resolve.   We have https://id.nlm.nih.gov/mesh/void.ttl, but that is not the same - I can address this easily.

[2019-02-26 21:43] VladimirAlexiev commented on #120
Without reasoning, rdf:type should return the most specific class. Only with rdfs:subClass reasoning it will return also the superclasses

[2019-02-26 22:08] VladimirAlexiev commented on #121
Thanks! I didn't know about this location.

But the recommended locations are as listed above (the Getty reference has links to the specs). A sem.crawler would not know to look under the /mesh path.

I'll make specific suggestions about the content in 2 weeks
- add stats, such as triples and entities
- describe the historic datasets as Distributions and add some version info and prev links
- add l

[2019-02-26 22:55] danizen commented on #120
Yes, I turned off inference but kept my test code.  Now it is just a matter of CI/CD running through its paces and such.

[2019-02-26 22:58] danizen commented on #121
@VladimirAlexiev , thank you. Does datahub.io act as a registry of datasets or does it attempt to import the data?  Our data has too many triples to be easily imported into bioportal, at least so far.

[2019-02-27 19:43] danizen commented on #121
@VladimirAlexiev , in a prior comment, you mentioned trying this query:

[code]

The issue there is that you used `https` rather than `http`.   Nevertheless, it must resolve.

[2019-02-27 20:06] danizen commented on #72
This is fixed, by the way.   http://id.nlm.nih.gov/mesh/vocab redirects to https://id.nlm.nih.gov/mesh/vocabulary.owl, and the TTL remains available as well.

[2019-02-27 20:06] #72 closed

[2019-02-27 21:05] danizen commented on #121
This should now be fixed; please feel free to open another issue if you have suggestions on the contents of the void file.

[2019-02-27 21:05] #121 closed

[2019-02-27 21:06] danizen commented on #120
This should now be fixed, thanks for helping out.

[2019-02-27 21:06] #120 closed

[2019-02-27 21:09] danizen commented on #12
@akuckartz , we have reconsidered an end to github issues, and are discussing it.   I'll re-open this pending that discussion.

[2019-03-03 10:23] VladimirAlexiev commented on #121
@danizen datahub is just a registry. You have to submit your dataset and the void helps with the submission.

It's also the basis of the famous lod-cloud.org diagram. To get included you need to submit rich metadata (eg see Getty AAT as an example) and have links from/to your dataset (I believe MESH has many incoming links as it's a foundational thesaurus)

[2019-03-03 10:28] VladimirAlexiev commented on #72
@danizen is the ontology served with content negotiation? Rdf, turtle, html

[2019-03-06 15:45] danizen commented on #72
@VladimirAlexiev , sort-of /mesh/vocab will redirect to /mesh/vocabulary.owl, and vocabulary.ttl is also available.  I can add other redirects, and these can take the Accept request header into account to add an extension.   For the void graph, we make it available only as /mesh/void.ttl, but that could be changed.

[2020-11-18 08:25] yayamamo opened #149 "MeSH SPARQL endpoint does not seem to return HTTP Content-Type header"
When issuing a SPARQL query to the [endpoint](https://id.nlm.nih.gov/mesh/sparql) by a curl tool, I've noticed that the response header didn't include an HTTP Content-Type header.
This may cause inappropriate behavior of a SPARQL client.

Below is the one I encountered. The query is a Construct SPARQL query.
[code]

In addition, when trying a query at [MeSH RDF API](https://id.nlm.nih.gov/mesh/swa

[2020-11-18 16:00] danizen commented on #149
Thank you; these are errors that may be upstream in Lodestar, or at least in the version of Lodestar upon which we base MeSH RDF.  I will follow-up shortly, at least by the time we have updated MeSH RDF so that 2021 is current and no longer interim.

[2020-12-03 20:28] dhimmel opened #150 "Pagination / offset of results for the SPARQL endpoint is faulty"
Thanks for making the [MeSH RDF SPARQL API](https://hhs.github.io/meshrdf/sparql-and-uri-requests). It's been convenient for quick access to MeSH.

I'd like to do a query that returns over 1000 results, and therefore need to figure out how to use pagination with the SPARQL API at `https://id.nlm.nih.gov/mesh/sparql`. Here's my query to return a table of descriptors:

[code]

But I'm having trouble

[2020-12-04 23:40] dhimmel opened #153 "rdfs:subClassOf relationships missing from MeSH RDF"
This query returns results ([online explorer](https://id.nlm.nih.gov/mesh/query?query=PREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0ASELECT+*%0D%0AWHERE+%7B%0D%0A++%3Fs+rdfs%3AsubClassOf+%3Fp+.%0D%0A%7D%0D%0A&format=HTML&year=current&limit=50&offset=0#lodestart-sparql-results)):

[code]

This query returns no results ([online explorer](https://id.nlm.nih.gov/mesh/que

[2020-12-05 00:09] danizen commented on #153
Behind the UI, we use Virtuoso, the open-source version.  As you've seen, it is really a quadstore, so that it stores tuples of the form
<graph, subject, property, object>.   The graph with IRI http://id,nlm.nih.gov/mesh/vocab stores the vocabulary itself, which can then be used as the RDFS ruleset for the other graphs.  You can tease out the graphs by adding that to your query:

[code]

Does this

[2020-12-07 15:43] dhimmel commented on #153
I see! I was initially looking at https://hhs.github.io/meshrdf/descriptors and I assumed all visualized nodes where from the same graph.

So if I want to query a MeSH release with SPARQL, but where we store serve the database locally, I would need to load both of these files from the [ftp site](ftp://ftp.nlm.nih.gov/online/mesh/rdf/)?

- `ftp://ftp.nlm.nih.gov/online/mesh/rdf/2020/vocabulary_1.0.

[2020-12-07 18:39] danizen commented on #153
You can certainly do that.  How you make use of the vocabulary depends on a lot on how your triple store does inference, and on your research need for inference, e.g. whether you need it.  I've used rdflib for little things, but never for the full model, and so I don't feel like I am the expert to tell you what to do.

I can however expand a bit on inference.   Inference makes a property statement

[2020-12-07 18:51] danizen commented on #153
Since you are explicitly wanting to calculate the extra nodes you need to take it into a DAG system such as networkx, you can ignore the vocabulary file and create your own "entailment", adding the triples you need to make the entailment work by doing something like this:

[code]

Using the results to generate the new nodes you need and inserting them into your graph.   You can do a similar thing

[2020-12-07 18:53] danizen commented on #153
One more comment - the reason we have our own vocabulary rather than using something like OWL is that MESH cannot be properly represented as a DAG.  You should find the motivating paper by Olivier Bohdenreider before proceeding to "flatten" it into a DAG.  It may of course work for a specific purpose, but our goal is to fully represent MeSH in RDF without loss of semantic richness.

[2020-12-07 19:00] danizen commented on #153
I misspeak below.  MeSH RDF cannot be represented as a tree, but should be able to be represented as a DAG.

[2020-12-07 21:22] dhimmel commented on #153
This is probably the easiest solution, since we can list all classes we're interested. Then there are a [few ways](https://stackoverflow.com/a/17600298/4651668) to structure the SPARQL query.

We really only need two queries: one for nodes and one for relationships. But rdflib is struggling here, in terms of running indefinitely for queries where https://id.nlm.nih.gov/mesh/query results within se

[2020-12-08 14:21] dhimmel commented on #153
# rdfs:subClassOf graph

I loaded `vocabulary_1.0.0.ttl` into rdflib and was able to access the `rdfs:subClassOf` relationships. Here's a graph of all the `rdfs:subClassOf` relationships in the mesh vocab:

![mesh-subclassof](https://user-images.githubusercontent.com/1117703/101495091-19df1680-3936-11eb-8337-cbc20bffbe99.png)

Also available as SVG at https://bit.ly/36W5up9.

<details>
<summary>py

[2020-12-08 14:22] #153 closed

[2020-12-08 17:50] danizen commented on #153
Very cool - when they ask why we need "the software architect" maintaining this software, I may point to this discussion and ask whether they'd rather have a "principal investigator" from the group that does the science. Feel free to open an issue just to report back how it worked out.

[2020-12-08 18:29] dhimmel commented on #150
@danizen any ideas here or examples of successfully using the API for multi-page results?

[2020-12-08 18:37] danizen commented on #150
When we were in the prototype phase, I argued that SPARQL is fine as a query language, but the whole deal with federated SPARQL and paging is flawed. Virtuoso also may truncate results. I went to bat at work for another team having direct access to the Virtuoso SQL interface (over JDBC) because of this.

So, I have devoted less time to validating this than I should, and will look into it.   I have

[2020-12-08 18:52] danizen commented on #150
I suspect that there is some string processing that would add the LIMIT and OFFSET to the query via string processing rather than paging from a temporary graph or model.  If so, this could be hard to fix. To fix the results you see would be a pretty fundamental change - we would need a query cache, with a query ID based on the sessionID and the query text.   A similar cache to the one I propose is

[2020-12-08 19:20] dhimmel commented on #150
Ah that makes sense, the limit and offset parameters get appended to the query, such that my earlier example probably became:

[code]

It looks like limit is set to 1000 when no limit is specified or a limit > 1000 is specified. The easy solution would be to allow for higher limits, perhaps limiting queries by some other mechanism like execution time if required.

But since the limit is capped at

[2020-12-08 19:24] danizen commented on #150
Let me think about this a bit.

[2020-12-09 00:29] danizen commented on #150
I see no problems in the code or differences with the EBISPOT upstream, so I will try to duplicate your results.  One thing this won't change is whether we return more than 1000 results to a single http request/response.

The implementation of limit and offset do not use string concatenation, but the parsed Apache Jena query.
See [uk.ac.ebi.fgpt.lode.impl.JenaSparqlService:207](https://github.com/

[2020-12-09 00:43] danizen commented on #150
After a review of the code, an attempt to reproduce, and a re-read of the SPARQL spec., I think this should be working as designed.  The LIMIT is from the OFFSET, and therefore designed to allow you to page through a large result set:

https://www.w3.org/TR/rdf-sparql-query/#modOffset

There may however be some Virtuoso limiting the the actual result set, and I will check on this tomorrow.

[2020-12-10 02:35] dhimmel commented on #150
Thanks @danizen for looking into this and narrowing down where things are going wrong.

[2020-12-29 13:54] dhimmel opened #155 "Difference between mappedTo and preferredMappedTo predicates?"
The mappedTo and preferredMappedTo predicates provide the link between Supplemental Concept Records (SCRs) and Descriptors. I am wondering about what "preferred" means here.

From https://hhs.github.io/meshrdf/predicates.html

`meshv:mappedTo` is described as

`meshv:preferredMappedTo` is described as:

It looks like the key part is "not the main parent; lacks an asterisk designation in the Source

[2020-12-29 15:05] bushmanb commented on #155
I referred your question to the head of the MeSH Unit at NLM and here is the response.  I hope this helps answer your questions.

This all dates back to the printed Index Medicus(IM). To save on ink we would limit the number citations listed under a MeSH term to those where the Heading was both important and highly specific for the particular article. More general topics like “drug combinations” a

[2020-12-29 16:07] dhimmel commented on #155
Thanks @bushmanb and head of the MeSH Unit! What does "HM" stand for?

So in conclusion, the preferredMappedTo is for "important and highly specific" relations between the SCR and descriptor. Good to know.

Here are some examples below of both predicates:

## preferredMappedTo examples

SPARQL Query ([online](https://id.nlm.nih.gov/mesh/query?query=PREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%

[2020-12-29 16:18] dhimmel opened #156 "/mesh/sparql API endpoint failing with 502 Server Error: Proxy Error"
For the last several days, I've noticed that queries to `https://id.nlm.nih.gov/mesh/sparql` are failing, with status code 502 and a response of:

Here's the [full URL](https://id.nlm.nih.gov/mesh/sparql?query=%23+https%3A%2F%2Fhhs.github.io%2Fmeshrdf%2Fdescriptors%0A%23+https%3A%2F%2Fwww.nlm.nih.gov%2Fmesh%2Fintro_record_types.html%0A%23+meshv%3ATopicalDescriptor+is+used+for+Class+1+Descriptors+-

[2020-12-29 16:19] dhimmel commented on #156
I wonder if this is because the query is taking too long and timing out. I thought this query used to work, but perhaps not.

[2020-12-29 16:54] bushmanb commented on #155
HM stands for Heading mapped to.

[2020-12-29 16:54] #155 closed

[2020-12-29 17:37] danizen commented on #156
Thank you - I will investigate.  We moved from MeSH RDF 2020 to 2021, and there are some other changes associated with this.

[2020-12-29 19:56] danizen commented on #156
You are correct that this is a timeout.  Our virtuoso server is configured with the following parameter:

[code]

The error can be reproduced against the QA server, and appears in the server's logs as a broken pipe exception.  In an ideal world, the JDBC driver would be able to be more specific about the error, and I will see whether I can get some feedback from OpenLink, Inc.

At the same time, I

[2020-12-29 20:11] danizen commented on #156
Some time ago, I did some experimental work designed to find a way to import our authorized RDF into Bioportal.  While I had some success, I met with feedback that this would remove some of the semantic richness of the model by flattening it.  There was also some disagreement about who should do the work.

The general mechanism that worked for me was to craft a query to obtain a COUNT of all resou

[2021-05-14 17:07] AlastairKelly opened #164 "Year parameter does not query specific years of MeSH"
I'm a SPARQL novice, so I'll acknowledge upfront that it's entirely possible that I am the issue.

We have a dataset that includes a list of MeSH terms from 2018. I am using the SPARQL endpoint to retrieve the IDs and tree numbers for these. Some MeSH terms have changed since then, so I need my queries to run against the 2018 version of MeSH, rather than the current one. According to the documenta

[2021-05-14 17:12] AlastairKelly commented on #164
Nevermind, I just spotted my own error in the query--no year specified in the FROM clause--as soon as I hit "Comment."

[2021-05-14 17:12] #164 closed

[2021-05-14 17:21] danizen commented on #164
I am also dissatisfied with this, because users must be "very careful" about which graph they are querying.  Another thing you should be aware of is that when you are querying the "current" graph, you have to add queries on meshrdf:active to get only active MeSH.   So, if you want your queries to work against both the '"current" graph and the previous years graph, then you should "subtract" inacti

[2021-05-14 17:35] AlastairKelly commented on #164
Ugh, thanks for the heads up on that!
I thought my familiarity with SQL would make SPARQL easy to pick up, but the similarity is much more limited than I hoped. I find many of the logical mechanisms very unintuitive, so I appreciate all the examples you have provided.

[2021-05-14 17:51] danizen commented on #164
No problem.   SPARQL is certainly different.

The killer feature is "inference", which can almost magically calculate things for you based on rules.  Even popular graph softwares such as Neo4J don't abstract the inference into a language of relationships as much as RDF.

[2021-05-17 21:16] AlastairKelly opened #165 "Query failure for MeSH terms that contain parentheses"
Although these have were all cleaned up around 2019, some MeSH descriptors used to contain parentheses, like "outcome assessment (health care)".  These variants are still included in the entry terms. However, I am totally unable to get a match on these terms using either the SPARQL endpoint or the Lookup API. They do not generate an error, but retrieve an empty set--no matches. I noticed that neit

[2021-05-17 21:41] danizen commented on #165
Smart efforts on your part.  Terms have a preferred label, `meshv:prefLabel`, and zero or more alternate labels, `meshv:altLabel`.  See https://hhs.github.io/meshrdf/terms.  Our string literals also use a Language code, which believe is likely to be the issue in your case.  In any case, despite the clean-up effort in 2019, there are definitely terms still in MeSH containing parenthesis in their la

[2021-10-06 10:47] stefandesu opened #174 "Any way to search descriptors by label and order by relevance?"
Hi,

I've started using MeSH for our project (https://github.com/gbv/cocoda) and so far it's working great! Part of it is searching for a descriptor by label. Currently I'm using SPARQL with a regex filter; I've also tried the `/lookup/descriptor` endpoint. However, as far as I can see, neither allows me to order results by relevance. If I search for "infection" (to use the example given in the SP

[2021-10-06 14:05] danizen commented on #174
Not at this time, but we will discuss internally and get back to you.  There is a development target to enhance the lookup API, and relevance would be a good addition.  However, we have to decide if we have time to add relevance.  It doesn't fit well with SPARQL but the lookup API doesn't need to be implemented with SPARQL.

[2021-11-16 09:26] yazoo178 opened #180 "How can I execute the sample RDF queries from a python env using SPARQLWrapper (or anything else)"
I'm having a difficult time trying to run the SPAQL query examples outside of the demo environment provided on the webpage.

I suspect the has something to do with RDFS inference? flag == True, as I am unable to select this option when running the queries in a python environment.

![image](https://user-images.githubusercontent.com/7006037/141958397-198c4b8b-89b9-49b5-885c-b4e2165b8eaa.png)

The re

[2021-11-16 16:54] danizen commented on #180
Although rdflib does not support inference, inference is done on our end, and is requested through the "inference" parameter.  In this case, the sparqlwrapper package only uses rdflib for parsing the results. If you need inference, then after you instantiate your object, you can use the method `addCustomParameter` as follows:

[code]

PS - it will be helpful if in future you use Github embedded co

[2021-11-17 11:23] doogyb opened #181 "Missing domain and range attributes in the MeSH ontology/vocabulary?"
The [Concepts](https://hhs.github.io/meshrdf/concepts) documentation provides the following table for the relationships between the `meshv:Concept` class and other classes:

 | Subject | Predicate | Object  
|--|-- | -- | --
1| meshv:Concept | meshv:broaderConcept | meshv:Concept
2| meshv:Concept | meshv:narrowerConcept | meshv:Concept
3| meshv:Concept | meshv:preferredTerm | meshv:Term
4| meshv:C

[2021-11-29 20:57] danizen commented on #180
Given your thumbs up - I will close.

[2021-11-29 20:57] #180 closed

[2021-11-29 21:16] danizen commented on #149
I did some experimentation on this today, and was able to reproduce a similar problem.   If I provide an accept parameter that doesn't match   I wonder whether your Accept request header matches the query you are doing.  When I do a simple SELECT query I get Content-Type `application/sparql-results+xml;charset=utf-8` as the response.  If I then manually set the Accept request header to `applicatio

[2021-11-30 07:01] yayamamo commented on #149
What I got was a SPARQL CONSTRUCT query response without an HTTP Content-Type header, which should be RDF, and therefore `application/rdf+xml` was a valid response of Content-Type.
( https://www.w3.org/TR/sparql11-protocol/#construct-simple )
For example, the response to the query `CONSTRUCT WHERE {   <http://id.nlm.nih.gov/mesh/C000612320> ?pred ?obj . }` should have an HTTP Content-Type header o

[2021-11-30 15:47] danizen commented on #149
Thanks, I'll look into that.

[2022-01-06 08:54] Jhen333 opened #187 "Mesh Subheadings"
Can someone help me to find the logic why in NCBI mesh page for subheading are not similar in the downloadable XML in desc2022.xml

Example: Mesh (HEART) https://www.ncbi.nlm.nih.gov/mesh/68006321  / https://meshb.nlm.nih.gov/record/ui?ui=D006321
Mesh (FUNGI) https://www.ncbi.nlm.nih.gov/mesh/68005658 here have 43 subheadings while the qualifiers same in XML https://meshb.nlm.nih.gov/record/ui?ui=

[2022-01-06 13:21] bushmanb commented on #187
Hello,

You question does not pertain to MeSH RDF.  Please send your question directly to NLM Customer Support at [](https://support.nlm.nih.gov/support/create-case/) and someone from the MeSH Unit will answer your question.

[2022-01-07 02:17] Jhen333 commented on #187
Hi

Thanks for your response I know is not related but I'm asking for help since I do already your way but I didn't receive any response from this page.

I'm looking for the person can help on this issue

[2022-01-14 09:11] piotr-gawron opened #188 "Swagger UI for MeSH API is down"
It looks like MeSH API is down. When I've tried to open: https://id.nlm.nih.gov/mesh/swagger/ui I got:
[code]

[2022-01-14 16:03] danizen commented on #188
Yes, I can.    @piotr-gawron, it is actually the Swagger spec and UI that are done, following work to make Swagger UI more secure.   I tested the following API and it is working:

https://id.nlm.nih.gov/mesh/lookup/details?descriptor=D015242

[2022-01-14 20:11] danizen commented on #188
@piotr-gawron, this should be fixed.

[2022-01-17 10:42] piotr-gawron commented on #188
@danizen, thanks

[2022-01-17 10:42] #188 closed

[2022-01-17 10:51] piotr-gawron opened #190 "SPARQL response code for invalid queries"
Currently when I submit invalid query I get response code 500 (Internal server error). I think it's more appropriate to return 400 (Bad request). Here is an example:

[code]

[2022-01-18 15:11] danizen commented on #190
@piotr-gawron, hard to discuss that with federal government security - SPARQL editor is a place where SPARQL injection is actually the point, and is not far removed from SQL injection.  Feel my pain :)

I have to mark this an enhancement because of the very real risks of breaking something. Submitting an invalid query containing JavaScript (e.g. <script>fubar</script> in a string literal) may not

[2022-04-25 18:54] dhimmel opened #193 "RDF mesh2021.nt.gz HTTPS download compression"
The `*.nt.gz` RDF downloads served from HTTPS URLs (rather than FTP) seem to selectively return gzip compressed data and plain text.

Example URL at `https://nlmpubs.nlm.nih.gov/projects/mesh/rdf/2021/mesh2021.nt.gz`, but this seems to affect the `.nt.gz` files for all years. When I open `mesh2021.nt.gz` in my browser or with Python's `fsspec.open`, I'm getting plain text.

[code]

Here's the docs

[2022-04-25 19:02] dhimmel commented on #193
Plain text is also being returned by Python requests:

[code]

[2022-04-25 19:07] #193 closed

[2022-04-25 19:29] danizen commented on #193
When accessing a larger file online through requests, consider using the "stream=True" argument as described at https://docs.python-requests.org/en/latest/user/advanced/#body-content-workflow.

This also mentions the difference between `response.content` and `response.raw`:

[2022-04-25 20:58] dhimmel commented on #193
Thanks @danizen for the tip! I ended up trying `requests.get` with `stream=True` and `response.raw.decode_content = True`, but ended up hitting an error on CI.

The thing is that the Python rdflib can take 30 minutes to to load `mesh2021.nt.gz`, which is a long time to keep the connection open. Anyways, I thought it just made sense to download the file locally to a temporary directory and then rea

[2022-04-25 21:20] danizen commented on #193
Makes sense.  Python is very efficient for writing code quickly, and then running it slowly :).  That said, I write a lot of it.

[2022-04-26 15:14] dhimmel opened #194 "2022 MeSH descriptor hierarchy contains a cycle with D054990 (Idiopathic Pulmonary Fibrosis)"
While working on https://github.com/related-sciences/nxontology-data/pull/1, I noticed a cycle in topical descriptors on the 2022 ontology:

[code]

The issue is that D054988 (Idiopathic Pulmonary Fibrosis) is a superterm of itself (via `meshv:broaderDescriptor` relations), as seen at https://meshb.nlm.nih.gov/record/ui?ui=D054990:

Looking at the 2021 descriptors at https://meshb-prev.nlm.nih.gov

[2022-04-26 15:37] danizen commented on #194
@dhimmel , I suggest about this particular issue you use the [NLM Support Center](https://support.nlm.nih.gov/). In this case, you don't need the knowledge base and should click the "Write to the help desk" button to report the issue.  It could report it myself, but it will be better tracked in the system if you do it.

Once it is fixed in our internal MeSH editing system, it will flow through to

[2022-04-26 16:41] dhimmel commented on #194
Okay, I wrote the help desk:

Will keep this issue up-to-date with replies. I like having a public issue like this, so other users with the same problem can reference it and also so I can refer to it in code comments.

[2022-04-28 12:23] bushmanb commented on #194
I will also report this directly to the MeSH Team.  Thank you very much.

[2022-04-28 12:32] dhimmel commented on #194
Thanks @bushmanb! Guessing you are Barbara Bushman from the seminal 2015 work [Creating the Authorized Version of MeSH in RDF](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4749162). Nice to meet you.

[2022-04-28 12:34] dhimmel commented on #194
Not sure if there is any way MeSH could create an internal test that would fail when cycles in the topical descriptor graph are detected. If so that would be a great way to make sure similar issues don't arise in the future.

[2022-04-28 12:40] bushmanb commented on #194
@dhimmel That is me.  Thank you for engaging with us.  MeSH is supposed to have a validation for duplicates, so I am not exactly sure what happened here.

[2022-04-28 14:44] danizen commented on #194
I could create such a test; but it would be better if the test is in the MeSH editing system to catch this earlier.

@dhimmel, it really helped a lot to reference the MeSH Browser - I would have had to validate it wasn't my processing code without that.

[2022-04-28 14:49] bushmanb commented on #194
@dhimmel We have removed the duplication.  It should take a day or two before it is reflected in the MeSH RDF.

[2022-04-29 12:27] dhimmel commented on #194
Thanks! Will close since the cycle is gone in [web UI](https://meshb.nlm.nih.gov/record/ui?ui=D054990):

![image](https://user-images.githubusercontent.com/1117703/165944187-25a482cc-57fb-4d20-92ea-5150d1e596f3.png)

[2022-04-29 12:27] #194 closed

[2022-05-27 16:22] dhimmel commented on #194
@bushmanb and @danizen, just wanted to let you know that I keep receiving helpdesk responses for the ticket I opened with number `CAS-889148-R2F1P2`:

- 2022-05-02: Thank you - this will be reviewed and corrected.
- 2022-05-18: Thank you. The issue has been noted and will be correct in MeSH 2023
- 2022-05-24: Thank you. MeSH staff will review the MeSH and make correction. As you may know, MeSH is